body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#task-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.task-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 220px;
    text-align: center;
    transition: transform 0.2s;
}

.task-card:hover {
    transform: translateY(-5px);
}

.task-card.in-progress {
    background-color: #ffe082; /* Amarelo suave */
}

.task-card.finished {
    background-color: #a5d6a7; /* Verde suave */
}

.task-card h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.task-card p {
    margin: 5px 0;
    color: #555;
}

#add-task-container {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

#task-input {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 15px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s;
}

button:hover {
    background-color: #45a049;
}

.pause-btn {
    background-color: #ff9800;
}

.pause-btn:hover {
    background-color: #fb8c00;
}

.finalize-btn { 
    background-color: #3cf436;
}

.finalize-btn:hover {
    background-color: #e53935;
}

#total-hours-container {
    margin-top: 40px;
    font-size: 20px;
    color: #333;
}

h3 {
    margin: 0;
    padding: 0;
}

#save-to-localstorage-btn {
    background-color: #2196f3;
}

#save-to-localstorage-btn:hover {
    background-color: #1976d2;
}

#save-task-btn {
    background-color: #4caf50;
}

#save-task-btn:hover {
    background-color: #45a049;
}
.remove-btn {
    background-color: #f44336;
    color: white;
    margin-top: 10px;
}

.remove-btn:hover {
    background-color: #e53935;
}
